[Desktop Entry]
Type=Application
Name=Holy Wars
GenericName=Game
GenericName[es]=Juego
Comment=A game built with libGDX on Java 25
Comment[es]=Un juego hecho con libGDX en Java 25
Exec=holy-wars
Icon=holy-wars
Terminal=false
Categories=Game;
