<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="pageHead(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Holy Wars</title>
    <link rel="stylesheet" th:href="@{/css/holy-wars.css}">
</th:block>
<nav th:fragment="nav">
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/map}">Mapa</a>
    <a th:href="@{/}">Mi aldea</a>
</nav>
<div th:fragment="resourceBar(bar)" class="resource-bar">
    <span class="resource">
        <img th:src="@{/img/resource-wood.svg}" alt="Madera">
        <span th:text="${bar.wood()}">500</span>
    </span>
    <span class="resource">
        <img th:src="@{'/img/' + ${bar.luxuryIcon()}}" th:alt="${bar.luxuryName()}">
        <span th:text="${bar.luxuryAmount()}">100</span>
    </span>
    <span class="resource">
        <img th:src="@{/img/resource-gold.svg}" alt="Oro">
        <span th:text="${bar.gold()}">500</span>
    </span>
</div>
</body>
</html>
