<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: pageHead(${island.name()})}">
</head>
<body>
<nav th:replace="~{fragments :: nav}"></nav>
<h1 th:text="${island.name()}">Isla</h1>
<p th:text="'Coordenada: (' + ${island.coordinate().x()} + ', ' + ${island.coordinate().y()} + ')'">Coordenada</p>
<p class="island-luxury">
    Recurso de lujo:
    <img th:src="@{'/img/' + ${luxuryIcon}}" th:alt="${luxuryName}" class="luxury-icon">
    <span th:text="${luxuryName}">Vino</span>
</p>
<div class="plots-grid">
    <div th:each="plot : ${plots}" th:class="${plot.cssClass()}">
        <span class="plot-number" th:text="'Parcela ' + ${plot.number()}">Parcela</span>
        <span th:unless="${plot.occupied()}" class="plot-status">Libre</span>
        <span th:if="${plot.occupied()}" class="plot-status">
            Ocupada:
            <a th:href="@{/towns/{id}(id=${plot.townId()})}"
               th:text="${plot.occupantLabel()}">Aldea</a>
        </span>
    </div>
</div>
</body>
</html>
