<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(title=${island.name})}"></head>
<body>
<header th:replace="~{fragments/layout :: header()}"></header>
<main>
<h1 th:text="${island.name}"></h1>
<p th:text="'Coordenada: (' + ${island.x} + ', ' + ${island.y} + ')'"></p>
<p>
    <img th:src="${island.luxuryIconPath}" alt=""/>
    <span th:text="'Recurso de lujo: ' + ${island.luxuryResourceName}"></span>
</p>
<div class="plots-grid">
    <div th:each="plot : ${island.plots}" class="plot" th:classappend="${plot.occupied} ? 'occupied' : ''">
        <p th:text="'Parcela ' + ${plot.number}"></p>
        <p th:if="${!plot.occupied}">Libre</p>
        <p th:if="${plot.occupied}">
            Ocupada:
            <a th:href="@{/towns/{id}(id=${plot.townId})}" th:text="${plot.townName}"></a>
            (<span th:text="${plot.ownerName}"></span>)
        </p>
    </div>
</div>
</main>
</body>
</html>
