<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Holy Wars</title>
    <link rel="stylesheet" href="/css/holy-wars.css"/>
    <script src="/js/htmx.min.js" defer></script>
    <script src="/js/holy-wars.js" defer></script>
</head>
<body>
<div class="shell-top-bar" th:fragment="topBar()">
    <span class="brand">Holy Wars</span>
</div>
<div class="resource-bar" id="resource-bar" th:fragment="resourceBar(bar, oob)"
     th:attr="hx-swap-oob=${oob != null and oob} ? 'true' : null,
               hx-get='/towns/' + ${bar.townId} + '/resources',hx-trigger='resources from:body',
               hx-swap='outerHTML'">
    <span class="resource">
        <img src="/img/resource-wood.svg" alt=""/>
        <span th:text="${bar.wood}"></span> Madera
    </span>
    <span class="resource">
        <img th:src="${bar.luxuryIconPath}" alt=""/>
        <span th:text="${bar.luxuryAmount}"></span> <span th:text="${bar.luxuryResourceName}"></span>
    </span>
    <span class="resource">
        <img src="/img/resource-gold.svg" alt=""/>
        <span th:text="${bar.gold}"></span> Oro
    </span>
</div>
<div class="capital-header" th:fragment="capitalHeader(header)">
    <div class="town-selector">
        <span class="town-selector-coordinate" th:text="${header.islandCoordinateLabel}"></span>
        <span th:text="${header.capitalName}"></span>
    </div>
    <div th:replace="~{fragments/layout :: resourceBar(bar=${header.resourceBar}, oob=false)}"></div>
    <div class="view-switch">
        <a class="view-button" href="/map">Mostrar mundo</a>
        <a class="view-button" th:href="@{/islands/{id}(id=${header.islandId})}">Mostrar isla</a>
        <a class="view-button" th:href="@{/towns/{id}(id=${header.townId})}">Mostrar ciudad</a>
    </div>
</div>
<nav class="breadcrumb" th:fragment="breadcrumb(breadcrumb)">
    <a class="crumb" th:each="crumb : ${breadcrumb.crumbs}" th:href="${crumb.href}" th:text="${crumb.label}"></a>
</nav>
<div class="councillor-frieze" th:fragment="frieze()">
    <figure class="councillor">
        <div class="councillor-portrait"></div>
        <figcaption title="Próximamente">Ciudades</figcaption>
    </figure>
    <figure class="councillor">
        <div class="councillor-portrait"></div>
        <figcaption title="Próximamente">Milicia</figcaption>
    </figure>
    <figure class="councillor">
        <div class="councillor-portrait"></div>
        <figcaption title="Próximamente">Investigación</figcaption>
    </figure>
    <figure class="councillor">
        <div class="councillor-portrait"></div>
        <figcaption title="Próximamente">Diplomacia</figcaption>
    </figure>
</div>
<div class="shell-footer" th:fragment="compassFooter(header)">
    <div class="compass">
        <a class="compass-globe" href="/map" title="Mostrar mundo"></a>
        <a class="compass-island" th:href="@{/islands/{id}(id=${header.islandId})}" title="Mostrar isla"></a>
        <a class="compass-town" th:href="@{/towns/{id}(id=${header.townId})}" title="Mostrar ciudad"></a>
    </div>
</div>
</body>
</html>
