<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Holy Wars</title>
    <link rel="stylesheet" href="/css/holy-wars.css"/>
    <script src="/js/htmx.min.js" defer></script>
    <script src="/js/holy-wars.js" defer></script>
</head>
<body>
<div class="shell-top-bar" th:fragment="topBar()">
    <span class="brand">Holy Wars</span>
</div>
<div class="resource-bar" id="resource-bar" th:fragment="resourceBar(bar, oob)"
     th:attr="hx-swap-oob=${oob != null and oob} ? 'true' : null,
               hx-get='/towns/' + ${bar.townId} + '/resources',hx-trigger='resources from:body',
               hx-swap='outerHTML'">
    <span class="resource resource-wood">
        <img src="/img/resource-wood.svg" alt=""/>
        <span th:text="${bar.wood}"></span> Madera
    </span>
    <span class="resource resource-luxury">
        <img th:src="${bar.luxuryIconPath}" alt=""/>
        <span th:text="${bar.luxuryAmount}"></span> <span th:text="${bar.luxuryResourceName}"></span>
    </span>
    <span class="resource">
        <img src="/img/resource-gold.svg" alt=""/>
        <span th:text="${bar.gold}"></span> Oro
    </span>
</div>
<div class="capital-header" th:fragment="capitalHeader(header)">
    <img class="capital-header-scroll" src="/img/ui-header-scroll.svg" width="652" height="125" alt=""/>
    <img class="capital-header-shop" src="/img/ui-shop-button.svg" width="168" height="68" alt=""/>
    <img class="capital-header-chest" src="/img/ui-chest.svg" width="41" height="80" alt=""/>
    <div class="town-selector">
        <img class="town-selector-background" src="/img/ui-city-select.svg" width="177" height="24" alt=""/>
        <span class="town-selector-label">
            <span class="town-selector-coordinate" th:text="${header.islandCoordinateLabel}"></span>
            <span th:text="${header.capitalName}"></span>
        </span>
    </div>
    <div th:replace="~{fragments/layout :: resourceBar(bar=${header.resourceBar}, oob=false)}"></div>
    <div class="view-switch">
        <a class="view-button view-button-world" href="/map">
            <img src="/img/ui-button-world.svg" width="84" height="54" alt=""/>
            <span class="view-button-caption">Mostrar mundo</span>
        </a>
        <a class="view-button view-button-island" th:href="@{/islands/{id}(id=${header.islandId})}">
            <img src="/img/ui-button-island.svg" width="84" height="54" alt=""/>
            <span class="view-button-caption">Mostrar isla</span>
        </a>
        <a class="view-button view-button-city" th:href="@{/towns/{id}(id=${header.townId})}">
            <img src="/img/ui-button-city.svg" width="84" height="58" alt=""/>
            <span class="view-button-caption">Mostrar ciudad</span>
        </a>
    </div>
</div>
<nav class="breadcrumb" th:fragment="breadcrumb(breadcrumb)">
    <a class="crumb" th:each="crumb : ${breadcrumb.crumbs}" th:href="${crumb.href}"
       th:classappend="${crumb.current} ? 'crumb-current' : ''">
        <img th:if="${crumb.iconPath != null}" th:src="${crumb.iconPath}" th:width="${crumb.iconWidth}" th:height="${crumb.iconHeight}" alt=""/>
        <span th:text="${crumb.label}"></span>
    </a>
</nav>
<div class="councillor-frieze" th:fragment="frieze()">
    <img class="councillor-frieze-frame" src="/img/ui-frieze-advisors.svg" width="394" height="130" alt=""/>
    <div class="councillor-list">
        <figure class="councillor">
            <img class="councillor-portrait" src="/img/ui-advisor-cities.svg" width="90" height="108"
                 alt="Consejero de Ciudades"/>
            <img class="councillor-plus" src="/img/ui-advisor-plus.svg" width="22" height="22" alt=""/>
            <figcaption title="Próximamente">Ciudades</figcaption>
        </figure>
        <figure class="councillor">
            <img class="councillor-portrait" src="/img/ui-advisor-military.svg" width="90" height="108"
                 alt="Consejero de Milicia"/>
            <img class="councillor-plus" src="/img/ui-advisor-plus.svg" width="22" height="22" alt=""/>
            <figcaption title="Próximamente">Milicia</figcaption>
        </figure>
        <figure class="councillor">
            <img class="councillor-portrait" src="/img/ui-advisor-research.svg" width="90" height="108"
                 alt="Consejero de Investigación"/>
            <img class="councillor-plus" src="/img/ui-advisor-plus.svg" width="22" height="22" alt=""/>
            <figcaption title="Próximamente">Investigación</figcaption>
        </figure>
        <figure class="councillor">
            <img class="councillor-portrait" src="/img/ui-advisor-diplomacy.svg" width="90" height="108"
                 alt="Consejero de Diplomacia"/>
            <img class="councillor-plus" src="/img/ui-advisor-plus.svg" width="22" height="22" alt=""/>
            <figcaption title="Próximamente">Diplomacia</figcaption>
        </figure>
    </div>
</div>
<div class="shell-chrome" th:fragment="compassFooter(header)">
    <div class="shell-footer">
        <img class="shell-footer-bg" src="/img/ui-footer.svg" width="1024" height="53" alt=""/>
        <span class="shell-footer-caption">Holy Wars</span>
        <div class="compass">
            <img class="compass-dial" src="/img/ui-compass.svg" width="135" height="135" alt=""/>
            <a class="compass-globe" href="/map" title="Mostrar mundo"></a>
            <a class="compass-island" th:href="@{/islands/{id}(id=${header.islandId})}" title="Mostrar isla"></a>
            <a class="compass-town" th:href="@{/towns/{id}(id=${header.townId})}" title="Mostrar ciudad"></a>
        </div>
    </div>
    <div class="shell-menu-left">
        <img class="shell-menu-gift" src="/img/ui-gift.svg" width="53" height="40" alt="Regalo"
             title="Regalo (Próximamente)"/>
        <div class="shell-menu-slot shell-menu-slot-troops">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-troops.svg" width="34" height="34" alt="Tropas"
                 title="Tropas (Próximamente)"/>
        </div>
        <div class="shell-menu-slot shell-menu-slot-resource-shop">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-resource-shop.svg" width="34" height="34"
                 alt="Tienda de recursos" title="Tienda de recursos (Próximamente)"/>
        </div>
        <div class="shell-menu-slot shell-menu-slot-trader">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-trader.svg" width="34" height="34" alt="Comerciante"
                 title="Comerciante (Próximamente)"/>
        </div>
        <div class="shell-menu-slot shell-menu-slot-rearrange">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-rearrange.svg" width="34" height="34" alt="Reordenar"
                 title="Reordenar (Próximamente)"/>
        </div>
        <div class="shell-menu-slot shell-menu-slot-friends">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-friends.svg" width="34" height="34" alt="Amigos"
                 title="Amigos (Próximamente)"/>
        </div>
        <div class="shell-menu-slot shell-menu-slot-info">
            <img src="/img/ui-slot-left.svg" width="53" height="40" alt=""/>
            <img class="shell-menu-icon" src="/img/ui-menu-info.svg" width="34" height="34" alt="Información"
                 title="Información (Próximamente)"/>
        </div>
    </div>
    <div class="shell-friends-panel">
        <img class="shell-friends-panel-bg" src="/img/ui-friends-panel.svg" width="42" height="295" alt=""/>
        <img class="shell-friends-panel-edit" src="/img/ui-button-edit.svg" width="35" height="13" alt=""
             title="Editar (Próximamente)"/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-1" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-2" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-3" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-4" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-5" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-slot shell-friends-panel-slot-6" src="/img/ui-slot-right.svg" width="53"
             height="40" alt=""/>
        <img class="shell-friends-panel-showhide" src="/img/ui-button-showhide.svg" width="35" height="13" alt=""
             title="Mostrar u ocultar (Próximamente)"/>
        <img class="shell-friends-panel-pagedown" src="/img/ui-button-pagedown.svg" width="35" height="13" alt=""
             title="Página siguiente (Próximamente)"/>
    </div>
</div>
</body>
</html>
