<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="resourceBarOob(bar)" class="resource-bar" id="resource-bar" hx-swap-oob="true">
    <span class="resource resource-wood">
        <img src="/img/resource-wood.svg" alt=""/>
        <span th:text="${bar.wood}"></span> Madera
    </span>
    <span class="resource resource-luxury">
        <img th:src="${bar.luxuryIconPath}" alt=""/>
        <span th:text="${bar.luxuryAmount}"></span> <span th:text="${bar.luxuryResourceName}"></span>
    </span>
    <span class="resource resource-gold">
        <img src="/img/resource-gold.svg" alt=""/>
        <span th:text="${bar.gold}"></span> Oro
    </span>
</div>
</body>
</html>
