<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="buildMenu(menu)" class="build-window">
    <div class="build-window-tab"></div>
    <div class="build-window-header">
        <h2 class="build-window-title" th:text="${menu.title}"></h2>
        <a class="build-window-close" th:href="@{/towns/{id}(id=${menu.townId})}">
            <span class="visually-hidden">Cerrar</span>
        </a>
    </div>
    <div class="build-window-body">
        <p class="build-window-intro">Un terreno vacío espera a tus ciudadanos. ¿Qué edificio van a levantar acá?</p>
        <p class="build-window-error" th:if="${menu.error}" th:text="${menu.error}"></p>
        <p class="build-window-status" th:if="${menu.statusText}" th:text="${menu.statusText}"></p>
        <div class="build-list">
            <div class="build-list-header">Construir edificio</div>
            <div class="build-list-body">
                <form th:each="option : ${menu.options}" class="build-option-row"
                      th:attr="hx-post=@{/towns/{id}/plots/{position}/build(id=${menu.townId},position=${menu.position})}"
                      hx-target="#build-panel" hx-swap="innerHTML">
                    <div class="build-option-column"></div>
                    <input type="hidden" name="type" th:value="${option.type}"/>
                    <img class="build-option-sprite" th:src="${option.spriteHref}" alt=""/>
                    <div class="build-option-info">
                        <h4 th:text="${option.name}"></h4>
                        <hr/>
                        <ul class="build-option-costs">
                            <li class="build-option-wood">
                                <img src="/img/resource-wood.svg" alt=""/>
                                <span th:text="${option.woodCost} + ' madera'"></span>
                            </li>
                            <li class="build-option-luxury" th:if="${option.luxuryCost} > 0">
                                <img th:src="${option.luxuryIconPath}" alt=""/>
                                <span th:text="${option.luxuryCost} + ' lujo'"></span>
                            </li>
                            <li class="build-option-minutes">
                                <img src="/img/ui-icon-time.svg" alt=""/>
                                <span th:text="${option.minutes} + ' min'"></span>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="build-option-build">¡Construir!</button>
                </form>
            </div>
            <div class="build-list-footer"></div>
        </div>
    </div>
    <div class="build-window-footer"></div>
</div>
</body>
</html>
